*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/light-grey-terrazzo.png");
  font-family: "Poppins", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  color: #fff;
}

p {
  color: rgb(53, 53, 53);
}

.cv-container {
  width: 90%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5% auto;
  border-radius: 9%;
  box-shadow: inset 0 1px 1px 0 hsla(0deg, 0%, 100%, 0.15), 0 50px 100px 30px rgba(50, 50, 93, 0.3), 0 30px 60px -30px rgba(0, 0, 0, 0.5), -10px 10px 60px -10px rgba(103, 178, 111, 0.3);
  position: relative;
}
@media screen and (max-width: 768px) {
  .cv-container {
    width: 95%;
  }
}
.cv-container .cv-sidebar-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  border-radius: 9%;
  width: 100%;
}
.cv-container .cv-sidebar {
  height: 100%;
  background-color: #42a8f9;
  border-radius: 9%;
}
@media screen and (max-width: 768px) {
  .cv-container .cv-sidebar {
    width: 65%;
  }
}
@media screen and (max-width: 425px) {
  .cv-container .cv-sidebar {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .cv-container .cv-sidebar {
    width: 100%;
  }
}
.cv-container .cv-sidebar .cv-nav {
  padding-left: 2rem;
}
@media screen and (max-width: 768px) {
  .cv-container .cv-sidebar .cv-nav {
    padding-left: 0.85rem;
  }
}
@media screen and (max-width: 425px) {
  .cv-container .cv-sidebar .cv-nav {
    width: 100%;
    display: flex;
    height: 100%;
  }
}
@media screen and (max-width: 320px) {
  .cv-container .cv-sidebar .cv-nav {
    width: 100%;
    display: flex;
    height: 100%;
    padding-left: 0.5rem;
  }
}
.cv-container .cv-sidebar .cv-nav__links {
  width: 19.8%;
  margin-bottom: 3.5%;
  padding-left: 1%;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .cv-container .cv-sidebar .cv-nav__links {
    margin-bottom: 8%;
    padding-left: 1.3rem;
  }
}
@media screen and (max-width: 425px) {
  .cv-container .cv-sidebar .cv-nav__links {
    margin-top: 1.8rem;
    padding-left: 1.4rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 320px) {
  .cv-container .cv-sidebar .cv-nav__links {
    margin-top: 1rem;
    padding-left: 0.6rem;
    margin-bottom: 0;
  }
}
.cv-container .cv-sidebar .cv-nav__links a {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .cv-container .cv-sidebar .cv-nav__links a {
    display: none;
  }
}
.cv-container .cv-sidebar .cv-nav__links i {
  padding-right: 5px;
}
.cv-container .cv-sidebar .cv-nav__links:hover {
  transform: scale(1.01);
  margin-left: -2.7%;
  width: 21%;
  padding: 15px 0;
  transition: all 0.3s ease-in;
  background-color: #1a96f8;
  text-align: center;
  box-shadow: inset 0 0 10px -3px #4e4e4e;
}
@media screen and (max-width: 425px) {
  .cv-container .cv-sidebar .cv-nav__links:hover {
    height: 90%;
    margin-top: 3px;
  }
}
@media screen and (max-width: 320px) {
  .cv-container .cv-sidebar .cv-nav__links:hover {
    height: 90%;
    margin-top: 3px;
  }
}
.cv-container .cv-sidebar .cv-img {
  width: 20%;
  text-align: center;
  margin-bottom: 1.5%;
  padding-top: 3%;
}
@media screen and (max-width: 768px) {
  .cv-container .cv-sidebar .cv-img {
    /* margin-bottom: 10%;
    padding-top: 17%; */
    margin-bottom: 5%;
    padding-top: 5%;
  }
}
@media screen and (max-width: 425px) {
  .cv-container .cv-sidebar .cv-img {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .cv-container .cv-sidebar .cv-img {
    display: none;
  }
}
.cv-container .cv-sidebar .cv-img img {
  width: 40%;
  border-radius: 50%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .cv-container .cv-sidebar .cv-img img {
    width: 72%;
  }
}

.modal-backdrop.show {
  opacity: 0;
}

.modal-backdrop {
  z-index: 0;
}

.container-main {
  background-image: url("../img/blue-snow.png");
  width: 80%;
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 9%;
  border-bottom-right-radius: 9%;
  position: absolute;
  right: 0;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .container-main {
    width: 87%;
  }
}
@media screen and (max-width: 320px) {
  .container-main {
    width: 100%;
    height: 90%;
    margin-top: 20%;
    border-bottom-left-radius: 9%;
    border-top-right-radius: 0%;
  }
}
@media screen and (max-width: 425px) {
  .container-main {
    width: 100%;
    height: 90%;
    margin-top: 20%;
    border-bottom-left-radius: 9%;
    border-top-right-radius: 0%;
  }
}

.box, .container__contacts .contacts, .container__projects .projects, .container__experience .experience, .container__studies .studies, .container__about-me .about-me {
  width: 85%;
  height: 50%;
  padding: 3%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgb(195, 234, 255);
  box-shadow: 0 0 17px -5px #343434;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.container__about-me {
  width: 100%;
  height: 100%;
  display: flex;
}
.container__about-me .about-me {
  overflow-y: auto;
  height: 70%;
}
@media screen and (max-width: 768px) {
  .container__about-me .about-me {
    height: 70%;
    width: 96%;
  }
}
@media screen and (max-width: 320px) {
  .container__about-me .about-me {
    height: 90%;
    width: 96%;
  }
}
@media screen and (max-width: 425px) {
  .container__about-me .about-me {
    height: 90%;
    width: 96%;
  }
}
.container__about-me .about-me__image {
  width: 35%;
}
@media screen and (max-width: 425px) {
  .container__about-me .about-me__image {
    height: auto;
    margin: auto;
  }
}
@media screen and (max-width: 320px) {
  .container__about-me .about-me__image {
    height: 26%;
    margin: auto;
  }
}
.container__about-me .about-me__info {
  width: 65%;
  padding: 0 5%;
}
@media screen and (max-width: 425px) {
  .container__about-me .about-me__info {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .container__about-me .about-me__info {
    width: 100%;
  }
}
.container__about-me .about-me__info-title {
  margin-bottom: 5%;
  color: rgb(53, 53, 53);
  font-size: 3rem;
}
@media screen and (max-width: 425px) {
  .container__about-me .about-me__info-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .container__about-me .about-me__info-title {
    font-size: 2rem;
  }
}
.container__about-me .about-me__info-description {
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .container__about-me .about-me__info-description {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 425px) {
  .container__about-me .about-me__info-description {
    line-height: 1.3rem;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 320px) {
  .container__about-me .about-me__info-description {
    line-height: 1.3rem;
  }
}

.container__studies {
  width: 100%;
  height: 100%;
}
.container__studies .studies {
  width: 95%;
  height: 90%;
  overflow: auto;
}
@media screen and (max-width: 320px) {
  .container__studies .studies {
    height: 90%;
    width: 96%;
    overflow: auto;
  }
}
@media screen and (max-width: 425px) {
  .container__studies .studies {
    height: 90%;
    width: 96%;
    overflow: auto;
  }
}
.container__studies .studies__image {
  width: 35%;
  height: 80%;
}
@media screen and (max-width: 320px) {
  .container__studies .studies__image {
    order: 1;
    width: 100%;
    height: 43%;
    padding: 0.8em 0;
  }
}
@media screen and (max-width: 425px) {
  .container__studies .studies__image {
    order: 1;
    width: 100%;
    height: 60%;
    padding: 0.8em 0;
  }
}
.container__studies .studies__info {
  width: 65%;
  padding: 0 5%;
}
@media screen and (max-width: 425px) {
  .container__studies .studies__info {
    order: 2;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .container__studies .studies__info {
    order: 2;
    width: 100%;
  }
}
.container__studies .studies__info-title {
  margin-bottom: 5%;
  color: rgb(53, 53, 53);
  font-size: 3rem;
  line-height: 1;
}
@media screen and (max-width: 768px) {
  .container__studies .studies__info-title {
    font-size: 2rem;
  }
}
.container__studies .studies__info-subtitle {
  color: #282828;
  line-height: 1.3;
}
@media screen and (max-width: 768px) {
  .container__studies .studies__info-subtitle {
    font-size: 1rem;
  }
}
.container__studies .studies__info-years {
  color: rgb(53, 53, 53);
  font-weight: 300;
  line-height: 1.8;
}
@media screen and (max-width: 768px) {
  .container__studies .studies__info-years {
    font-size: 0.9rem;
  }
}
.container__studies .studies__info-description {
  line-height: 1.3;
  font-weight: 300;
  margin: 0.5rem 0 1.5rem 0;
}
@media screen and (max-width: 768px) {
  .container__studies .studies__info-description {
    font-size: 0.9rem;
  }
}

.container__experience {
  width: 100%;
  height: 100%;
}
.container__experience .experience {
  height: 90%;
  overflow-y: auto;
}
@media screen and (max-width: 768px) {
  .container__experience .experience {
    padding: 0;
    width: 90%;
    height: 80%;
    padding: 2em 0;
  }
}
@media screen and (max-width: 425px) {
  .container__experience .experience {
    width: 95%;
    height: 90%;
    overflow: auto;
  }
}
@media screen and (max-width: 320px) {
  .container__experience .experience {
    width: 95%;
    height: 90%;
    overflow: auto;
  }
}
.container__experience .experience__image {
  width: 35%;
}
@media screen and (max-width: 425px) {
  .container__experience .experience__image {
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .container__experience .experience__image {
    width: 90%;
  }
}
.container__experience .experience__info {
  text-align: center;
  width: 80%;
  margin: auto;
}
@media screen and (max-width: 425px) {
  .container__experience .experience__info {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .container__experience .experience__info {
    width: 100%;
  }
}
.container__experience .experience__info-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  line-height: 1;
}
@media screen and (max-width: 425px) {
  .container__experience .experience__info-title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 320px) {
  .container__experience .experience__info-title {
    font-size: 2rem;
  }
}
.container__experience .experience__info-subtitle {
  color: #282828;
  line-height: 1.3;
}
.container__experience .experience__info-years {
  margin-bottom: 1rem;
}
.container__experience .experience__info-description {
  text-align: left;
  width: 80%;
  margin: auto;
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
  list-style-type: disc;
}

.container__projects {
  width: 100%;
  height: 100%;
}
.container__projects .projects {
  height: 83%;
}
@media screen and (max-width: 425px) {
  .container__projects .projects {
    width: 95%;
    height: 95%;
    overflow: auto;
  }
}
@media screen and (max-width: 320px) {
  .container__projects .projects {
    width: 95%;
    height: 95%;
    overflow: auto;
  }
}
.container__projects .projects__image {
  width: 40%;
  height: 100%;
}
@media screen and (max-width: 425px) {
  .container__projects .projects__image {
    width: 100%;
    height: 55%;
  }
}
@media screen and (max-width: 320px) {
  .container__projects .projects__image {
    width: 100%;
    height: 55%;
  }
}
.container__projects .projects__info {
  width: 60%;
  padding: 0 5%;
}
@media screen and (max-width: 768px) {
  .container__projects .projects__info {
    padding: 0 3%;
  }
}
@media screen and (max-width: 425px) {
  .container__projects .projects__info {
    width: 100%;
    padding: 0 1%;
  }
}
@media screen and (max-width: 320px) {
  .container__projects .projects__info {
    width: 100%;
    padding: 0 1%;
  }
}
.container__projects .projects__info-title {
  margin-bottom: 5%;
  color: rgb(53, 53, 53);
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .container__projects .projects__info-title {
    font-size: 2rem;
    line-height: 1;
  }
}
.container__projects .projects__info-description {
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
}
@media screen and (max-width: 768px) {
  .container__projects .projects__info-description {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
}
.container__projects .projects__info-description a {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
}

.container__contacts {
  width: 100%;
  height: 100%;
  /* Para el loader */
}
.container__contacts .contacts {
  display: block;
  height: 85%;
  overflow-y: auto;
}
@media screen and (max-width: 425px) {
  .container__contacts .contacts {
    height: 95%;
  }
}
@media screen and (max-width: 320px) {
  .container__contacts .contacts {
    height: 95%;
  }
}
@media screen and (max-width: 768px) {
  .container__contacts .contacts {
    width: 90%;
    padding: 5%;
  }
}
.container__contacts .contacts__info {
  width: 60%;
  padding: 0 5%;
}
.container__contacts .contacts__info-title {
  color: rgb(53, 53, 53);
  font-size: 3rem;
}
@media screen and (max-width: 768px) {
  .container__contacts .contacts__info-title {
    font-size: 2rem;
    margin-top: -1rem;
  }
}
@media screen and (max-width: 425px) {
  .container__contacts .contacts__info-title {
    font-size: 2rem;
    margin-top: -0.3rem;
  }
}
@media screen and (max-width: 320px) {
  .container__contacts .contacts__info-title {
    font-size: 2rem;
    margin-top: 0rem;
  }
}
.container__contacts .contacts__info-subtitle {
  color: #282828;
}
@media screen and (max-width: 425px) {
  .container__contacts .contacts__info-subtitle {
    font-size: 0.8rem;
    margin: 1rem 0;
    font-weight: 400;
  }
}
@media screen and (max-width: 320px) {
  .container__contacts .contacts__info-subtitle {
    font-size: 0.8rem;
    margin: 1rem 0;
    font-weight: 400;
  }
}
.container__contacts .contacts__info-list {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}
@media screen and (max-width: 425px) {
  .container__contacts .contacts__info-list {
    margin: 4rem 0;
  }
}
@media screen and (max-width: 320px) {
  .container__contacts .contacts__info-list {
    margin: 4rem 0;
  }
}
.container__contacts .contacts__info-list-link {
  margin: 0.5rem auto 0.5rem auto;
  background-color: #fff;
  padding: 1rem 6.7rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 425px) {
  .container__contacts .contacts__info-list-link {
    padding: 1rem 3rem;
  }
}
@media screen and (max-width: 320px) {
  .container__contacts .contacts__info-list-link {
    padding: 1rem 3rem;
  }
}
.container__contacts .contacts__info-list-link i {
  color: rgb(53, 53, 53);
  padding: 0 0.5rem;
}
.container__contacts .contacts__info-list-link:hover {
  padding: 1.5rem 7.2rem;
  transition: all 0.3s ease-in;
  background-color: rgb(53, 53, 53);
}
.container__contacts .contacts__info-list-link:hover a, .container__contacts .contacts__info-list-link:hover i {
  color: #fff;
}
.container__contacts .contacts__info-list-link:nth-child(3) {
  padding: 1rem 4rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
@media screen and (max-width: 425px) {
  .container__contacts .contacts__info-list-link:nth-child(3) {
    padding: 1rem 0.5rem;
  }
}
@media screen and (max-width: 320px) {
  .container__contacts .contacts__info-list-link:nth-child(3) {
    padding: 1rem 1.5rem;
  }
  .container__contacts .contacts__info-list-link:nth-child(3) i {
    padding-left: 2rem;
  }
}
.container__contacts .contacts__info-list-link:nth-child(3):hover {
  padding: 1.5rem 4.5rem;
  transition: all 0.3s ease-in;
}
.container__contacts .contacts__info-list-link:nth-child(3):hover a, .container__contacts .contacts__info-list-link:nth-child(3):hover i {
  color: #fff;
}
.container__contacts .contacts__info-description {
  line-height: 1.5rem;
  font-weight: 300;
  margin-top: 1rem;
}
.container__contacts span i {
  color: #39b6ff;
}
.container__contacts .show-loader {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  font-size: 1.5rem;
}
.container__contacts .enviando {
  margin-bottom: 0 !important;
}
.container__contacts .hide-loader {
  display: none;
}
.container__contacts .hide-mensaje {
  display: none;
}
.container__contacts .show-mensaje {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
  border-radius: 8px;
  border-color: #badbcc;
  background-color: #d1e7dd;
  color: #0f5132 !important; /* para cambiar el color del texto */
  padding: 0.5em 0;
  font-size: 1rem;
  margin-top: 2rem;
}

/*# sourceMappingURL=styles.css.map */
