$smatphone: 320px;
$medium-smartphone: 425px;
$tablet: 768px;


@mixin smartphone {
  @media screen and (max-width: $smatphone) {
    @content;    
  }
}

@mixin medium-smartphone {
  @media screen and (max-width: $medium-smartphone) {
    @content;    
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;    
  }
}