.container-main {
  background-image: url('../img/blue-snow.png');
  width: 80%;
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 9%;
  border-bottom-right-radius: 9%;
  position: absolute;
  right: 0;
  z-index: 2;

  @include tablet {
    width: 87%;
  }

  @include smartphone {
    width: 100%;
    height: 90%;
    margin-top: 20%;
    border-bottom-left-radius: 9%;
    border-top-right-radius: 0%;
  }

  @include medium-smartphone {
    width: 100%;
    height: 90%;
    margin-top: 20%;
    border-bottom-left-radius: 9%;
    border-top-right-radius: 0%;
  }
}

// Estilos para poner a cada seccion del cv
.box {
  width: 85%;
  height: 50%;
  padding: 3%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  align-items: center;
  background-color: rgb(195 234 255);
  box-shadow: 0 0 17px -5px #343434;
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, 
              rgb(0 0 0 / 30%) 0px 30px 60px -30px, 
              rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
}

// Seccion sobre mi
.container__about-me {
  width: 100%;
  height: 100%;
  display: flex;
  
  
  .about-me {
    overflow-y: auto;
    @extend .box;
    // height: 60%;
    height: 70%;
  
    @include tablet {
      height: 70%;
      width: 96%;
    }

    @include smartphone {
      height: 90%;
      width: 96%;
    }
    
    @include medium-smartphone {
      height: 90%;
      width: 96%;
    }

    &__image {
      width: 35%;
      // height: 100%;

      @include tablet {
        // height: 80%;
      }

      @include medium-smartphone {
        // height: 26%;
        height: auto;
        margin: auto;
      }
      
      @include smartphone {
        height: 26%;
        margin: auto;
      }
    }

    &__info {
      width: 65%;
      padding: 0 5%;

      @include medium-smartphone {
        width: 100%;
      }

      @include smartphone {
        width: 100%;
      }

      &-title {
        margin-bottom: 5%;
        color: $color-primary;
        font-size: 3rem;

        @include medium-smartphone {
          font-size: 2rem;
        }
        
        @include smartphone {
          font-size: 2rem;
        }
      }
      
      &-description {
        // line-height: 1.5rem;
        font-weight: 300;

        @include tablet {
          font-size: .9rem;
        }

        @include medium-smartphone {
          line-height: 1.3rem;
          margin-bottom: 0;
        }
        
        @include smartphone {
          line-height: 1.3rem;
        }
      }
    }
    
  }
}

// Seccion de estudios
.container__studies {
  width: 100%;
  height: 100%;

  .studies {
    @extend .box;
    width: 95%;
    height: 90%;
    overflow: auto;

    @include smartphone {
      height: 90%;
      width: 96%;
      overflow: auto;
    }
    
    @include medium-smartphone {
      height: 90%;
      width: 96%;
      overflow: auto;
    }


    &__image {
      width: 35%;
      height: 80%;

      @include smartphone {
        order: 1;
        width: 100%;
        height: 43%;
        padding: 0.8em 0;
      }
      
      @include medium-smartphone {
        order: 1;
        width: 100%;
        // height: 43%;
        height: 60%;
        padding: 0.8em 0;
      }
    }


     &__info {
      width: 65%;
      padding: 0 5%;

      @include medium-smartphone {
        order: 2;
        width: 100%;
      }
      
      @include smartphone {
        order: 2;
        width: 100%;
      }

      &-title {
        margin-bottom: 5%;
        color: $color-primary;
        font-size: 3rem;
        line-height: 1;

        @include tablet {
          font-size: 2rem;
        }
      }

      &-subtitle {
        color: darken($color-primary, 5%);
        line-height: 1.3;

        @include tablet {
          font-size: 1rem;
        }
      }

      &-years {
        color: $color-primary;
        font-weight: 300;
        line-height: 1.8;

        @include tablet {
          font-size: .9rem;
        }
      }
      
      &-description {
        line-height: 1.3;
        font-weight: 300;
        margin: .5rem 0 1.5rem 0;

        @include tablet {
          font-size: .9rem;
        }
      }
    }
  }
}

// Sección de Experiencia
.container__experience {
  width: 100%;
  height: 100%;
  
  .experience {
    @extend .box;
    height: 90%;
    overflow-y: auto;

    @include tablet {
      padding: 0;
      width: 90%;
      height: 80%;
      padding: 2em 0;
    }

    @include medium-smartphone {
      width: 95%;
      height: 90%;
      overflow: auto;
    }
    
    @include smartphone {
      width: 95%;
      height: 90%;
      overflow: auto;
    }

    &__image {
      width: 35%;

      @include medium-smartphone {
        width: 90%;
      }

      @include smartphone {
        width: 90%;
      }
    }
    
    &__info {
      text-align: center;
      width: 80%;
      margin: auto;

      @include medium-smartphone {
        width: 100%;
      }
      
      @include smartphone {
        width: 100%;
      }

      &-title {
        font-size: 3rem;
        margin-bottom: 2rem;
        line-height: 1;

        @include medium-smartphone {
          font-size: 2rem;
        }
        
        @include smartphone {
          font-size: 2rem;
        }
      }

      &-subtitle {
        color: darken($color-primary, 5%);
        line-height: 1.3;
      }

      &-years {
        margin-bottom: 1rem;
      }
      
      &-description {
        text-align: left;
        width: 80%;
        margin: auto;
        line-height: 1.5rem;
        font-weight: 300;
        margin-top: 1rem;
        list-style-type: disc;
      }
    }
  }
}

// Sección de proyectos
.container__projects {
  width: 100%;
  height: 100%;

  .projects {
    @extend .box;
    height: 83%;

    @include medium-smartphone {
      width: 95%;
      height: 95%;
      overflow: auto;
    }

    @include smartphone {
      width: 95%;
      height: 95%;
      overflow: auto;
    }

    &__image {
      width: 40%;
      height: 100%;

      @include medium-smartphone {
        width: 100%;
        height: 55%;
      }
      
      @include smartphone {
        width: 100%;
        height: 55%;
      }
    }

    &__info {
      width: 60%;
      padding: 0 5%;

      @include tablet {
        padding: 0 3%;
      }

      @include medium-smartphone {
        width: 100%;
        padding: 0 1%;
      }
      
      @include smartphone {
        width: 100%;
        padding: 0 1%;
      }

      &-title {
        margin-bottom: 5%;
        color: $color-primary;
        font-size: 3rem;

        @include tablet {
          font-size: 2rem;
          line-height: 1;
        }
      }
      
      &-description {
        line-height: 1.5rem;
        font-weight: 300;
        margin-top: 1rem;

        @include tablet {
          font-size: .9rem;
          line-height: 1.3rem;
        }

        a {
          display: block;
          text-align: center;
          margin-top: .5rem;
        }
      }
    }
  }
}


// Seccción de contactos
.container__contacts {
  width: 100%;
  height: 100%;

  .contacts {
    @extend .box;
    display: block;
    height: 85%;
    overflow-y: auto;

    @include medium-smartphone {
      height: 95%;
    }
    
    @include smartphone {
      height: 95%;
    }

    @include tablet {
      width: 90%;
      padding: 5%;
    }

    &__info {
      width: 60%;
      padding: 0 5%;

      &-title {
        color: $color-primary;
        font-size: 3rem;

        @include tablet {
          font-size: 2rem;
          margin-top: -1rem;
        }

        @include medium-smartphone {
          font-size: 2rem;
          // margin-top: 1.5rem;
          margin-top: -0.3rem;
        }

        @include smartphone {
          font-size: 2rem;
          // margin-top: 1.5rem;
          margin-top: 0rem;
        }
      }

      &-subtitle {
        color: darken($color-primary, 5%);

        @include medium-smartphone {
          font-size: .8rem;
          margin: 1rem 0;
          font-weight: 400;
        }
        
        @include smartphone {
          font-size: .8rem;
          margin: 1rem 0;
          font-weight: 400;
        }
      }

      &-list {
       display: flex;
       flex-direction: column;
       margin: 2rem 0;

       @include medium-smartphone {
        margin: 4rem 0;
       }
       
       @include smartphone {
        margin: 4rem 0;
       }

       &-link {
        margin: .5rem auto .5rem auto;
        background-color: #fff;
        padding: 1rem 6.7rem;
        cursor: pointer;
        transition: all .3s ease-in;

        @include medium-smartphone {
          padding: 1rem 3rem;
        }
        
        @include smartphone {
          padding: 1rem 3rem;
        }

        i {
          color: $color-primary;
          padding: 0 .5rem;
        }
       
        &:hover {
          padding: 1.5rem 7.2rem;
          transition: all .3s ease-in;
          background-color: $color-primary;

          a, i {
            color: #fff;
          }
        }
      }
       

      // al contacto de email aplicamos este estilo
       &-link:nth-child(3) {
        padding: 1rem 4rem;
        cursor: pointer;
        transition: all .3s ease-in;

        @include medium-smartphone {
          padding: 1rem 0.5rem;
        }
        
        @include smartphone {
          padding: 1rem 1.5rem;

          i {
            padding-left: 2rem;
          }
        }

        &:hover {
          padding: 1.5rem 4.5rem;
          transition: all .3s ease-in;

           a, i {
            color: #fff;
          }
        }
       }

      }
      
      &-description {
        line-height: 1.5rem;
        font-weight: 300;
        margin-top: 1rem;
      }
    }
  }

  /* Para el loader */
  span i {
    color: #39b6ff;
  }
  .show-loader {
    display: block;
    text-align: center;
    margin-top: .5rem;
    font-size: 1.5rem;
  }
  .enviando {
    margin-bottom: 0 !important;
  }
  .hide-loader {
    display: none;
  }
  .hide-mensaje {
    display: none;
  }
  .show-mensaje {
    display: block;
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 8px;
    border-color: #badbcc;
    background-color: #d1e7dd;
    color: #0f5132 !important; /* para cambiar el color del texto */
    padding: .5em 0;
    font-size: 1rem;
    margin-top: 2rem;
  }
}