// Este es el contenedor del sidebar y del main
.cv-container {
  width: 90%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5% auto;
  border-radius: 9%;
  box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100% / 15%), 0 50px 100px 30px rgb(50 50 93 / 30%), 0 30px 60px -30px rgb(0 0 0 / 50%), -10px 10px 60px -10px rgb(103 178 111 / 30%);
  position: relative;

  @include tablet {
    width: 95%;
  }

  // Estos son los estilos del contenedor del sidebar
  .cv-sidebar-container {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    border-radius: 9%;
    width: 100%;
  }

  // este es el contenedor del la img de usuario y los links
  .cv-sidebar {
    height: 100%;
    background-color: $color-menu;
    border-radius: 9%;

    @include tablet {
      width: 65%;
    }

    @include medium-smartphone {
      width: 100%;
    }
    
    @include smartphone {
      width: 100%;
    }

    // estilos del contenedor del los links
    .cv-nav  {
      padding-left: 2rem;

      @include tablet {
        padding-left: 0.85rem;
      }

      @include medium-smartphone {
        width: 100%;
        display: flex;
        height: 100%;
      }
      
      @include smartphone {
        width: 100%;
        display: flex;
        height: 100%;
        padding-left: 0.5rem;
      }

      // Estilos de los links
      &__links {
        width: 19.8%;
        // margin-bottom: 4.5%;
        margin-bottom: 3.5%;
        padding-left: 1%;
        cursor: pointer;
        transition: all .3s ease-out;

        @include tablet {
          // margin-bottom: 10%;
          margin-bottom: 8%;
          padding-left: 1.3rem;
        }

        @include medium-smartphone {
          margin-top: 1.8rem;
          padding-left: 1.4rem;
          margin-bottom: 0;
        }
        
        @include smartphone {
          margin-top: 1rem;
          // padding-left: 1.4rem;
          padding-left: 0.6rem;
          margin-bottom: 0;
        }

        a {
          color: #fff;

          @include tablet {
            display: none;
          }
        }
        
        i {
          padding-right: 5px;
        }

        &:hover {
          transform: scale(1.01);
          // margin-left: 0.1%;
          margin-left: -2.7%;
          width: 21%;
          
          padding: 15px 0;
          transition: all .3s ease-in;
          background-color: darken($color-menu, 8%);
          text-align: center;
          box-shadow: inset 0 0 10px -3px #4e4e4e;

          @include medium-smartphone {
            height: 90%;
            margin-top: 3px;
          }
          
          @include smartphone {
            height: 90%;
            margin-top: 3px;
          }
        }

      }
    }

    // estilos de la imagen del sidebar
    .cv-img {
      width: 20%;
      text-align: center;
      margin-bottom: 1.5%;
      padding-top: 3%;

      @include tablet {
        /* margin-bottom: 10%;
        padding-top: 17%; */
        margin-bottom: 5%;
        padding-top: 5%;
      }

      @include medium-smartphone {
        display: none;
      }
      
      @include smartphone {
        display: none;
      }
      
      img {
        // background-color: #fff;
        width: 40%;
        border-radius: 50%;
        text-align: center;

        @include tablet {
          width: 72%;
        }
      }
    }
  }

}